<div class="layout">

  <div class="left">
    <img src="/moviestock1.jpg">
  </div>

  <div class="right">
    <div class="login-box">

      <div class="logo-box">
        <img src="./logo2.png">
      </div>

      @if (!codigoEnviado) {

        <h1>Crear cuenta</h1>
        <p>Encuentra peliculas. Califica historias. Construye tus gustos.</p>

        <form [formGroup]="registerForm">
          <input type="text" formControlName="nombre" placeholder="Nombre">
          <input type="email" formControlName="email" placeholder="Correo Electrónico">
          <input type="password" formControlName="password1" placeholder="Contraseña">
          <input type="password" formControlName="password2" placeholder="Confirmar contraseña">
          <button type="button" (click)="register()">Crear cuenta</button>
          <button type="button" routerLink="/login">Iniciar Sesión</button>
        </form>

      }  @else {
      <h1>Verifica tu cuenta</h1>
      <p>Hemos enviado un código de 6 dígitos a <strong>{{ emailRegistrado }}</strong>. Por favor revísalo.</p>

        <input type="text"
               maxlength="6"
               inputmode="numeric"
               pattern="[0-9]*"
               [(ngModel)]="codigoInput"
               class="verify-input"
               placeholder="Código de verificación">

      <button class="btn-purple" (click)="verificarCodigo()">Verificar</button>
    }

    </div>
  </div>

</div>
