<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reelyx - Inicio de sesión </title>
</head>
<body>
<div class="layout">

  <div class="left">
    <img src="/moviestock1.jpg">
  </div>

  <div class="right">
    <div class="login-box">

      <div class="logo-box" (click)="navMain()">
        <img src="./logo2.png">
      </div>
@if (esLogin){
  <h1>Iniciar sesión</h1>
  <p>Sigue peliculas. Califica historias. Construye tu gusto.</p>

  <form [formGroup]="formLogin" (ngSubmit)="iniciarSesion()" >
    <input type="email"  formControlName="email" placeholder="E-mail address">
    <input type="password" formControlName="password" placeholder="Password">

    <button type="submit">Iniciar sesión</button>
    <button type="button" routerLink="/register">Crear cuenta</button>
  </form>
}


    </div>
  </div>

</div>

</body>
</html>
