<!--footer-->

<div >
<div class="h-100" >
  <hr>
  <div class="container d-flex justify-content-between ">
    <div class=" f-icons ">
      <a href="">
        <i class="bi bi-facebook color-purple"></i>
      </a>
      <a href="">
        <i class="bi bi-twitter color-purple"></i>
      </a>
      <a href="">
        <i class="bi bi-instagram color-purple"></i>
      </a>
      <a href="">
        <i class="bi bi-youtube color-purple"></i>
      </a>


    </div>
    <div class="f-links">
      <a href="">About </a>
      <a href="">Contact</a>
      <a href="">Privacy Policy</a>
      <a href="">Terms of Service</a>
      <a href="">Help</a>
    </div>
  </div>
  <hr>
  <p class="text-center">2026 Reelyx. All rights reserved.</p>
</div>
</div>
