<!--footer-->

<div >
<div class="h-100" >
  <hr>
  <div class="container d-flex justify-content-between ">
    <div class=" f-icons ">
      <a href="">
        <i class="bi bi-facebook color-purple"></i>
      </a>
      <a href="">
        <i class="bi bi-twitter color-purple"></i>
      </a>
      <a href="">
        <i class="bi bi-instagram color-purple"></i>
      </a>
      <a href="">
        <i class="bi bi-youtube color-purple"></i>
      </a>


    </div>
    <div class="f-links">
      <a href="">Sobre nosotros </a>
      <a href="">Contactar</a>
      <a href="">Política de privacidad </a>
      <a href="">Términos de servixio</a>
      <a href="">Ayuda</a>
    </div>
  </div>
  <hr>
  <p class="text-center">2026 Reelyx. Todos los derechos reservados.</p>
</div>
</div>
